/* Color Theme */
:root {
  --eletric-blue: #1d87d1;
  --bright-orange: #fdba74;
  --vibrant-green: #81ad7a;
}

/* Global Styles */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

header {
  background-color: var(--eletric-blue);
  background-image: url(../images/gameday-texture.png);
  object-fit: contain;
  padding-bottom: 1rem;
}


/* back button styling */
.back-btn {
  color: white;
  border: solid white 2px;
}

.back-btn:hover {
  background-color: var(--vibrant-green);
  color: aliceblue;
}

/* logo in header */
.logo {
  max-width: 7%;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

/* venue container stlying */
.venue-color {
  background-color: var(--eletric-blue);
  background-image: url(../images/gameday-texture.png);
  object-fit: contain;
}

/* 404 venue container */
.venue {
  background-color: var(--eletric-blue);
  background-image: url(../images/gameday-texture.png);
  object-fit: contain;
}

footer {
  position: relative;
  bottom: -142px;
}

.foot-assist {
  position: relative;
  bottom: -142px;
}